
.container {
    max-width: 450px;
}

.war {
    background-color: red;
}

h3 {
    margin-top: 10px;
}

.mainimg {
    vertical-align: bottom;
    height: 32px;
    width: 32px;
}

h2 {
    margin-top: 10px;
}
