
.container {
    max-width: 450px;
}

.war {
    background-color: red;
}

h3 {
    margin-top: 10px;
}

.mainimg {
    vertical-align: bottom;
}

/* .fade-enter-active, .fade-leave-active {
    transition: opacity .5s
  }
  .fade-enter, .fade-leave-to  {
    opacity: 0
  } */
  