<div>
    <h3 align="center">Диаметр скважины / коэффициент кавернозности</h3>
    <p align="center"><small>Пересчет: диаметр скважины / коэффициент кавернозности</small></p>
    <div class="module">
        Диаметр долота:
        <div class="input-group">            
            <input autocomplete="on" v-on:focus="selectAll" :value="diameter_bit" list="diameter_list" type="text" id="diameter_bit" class="form-control">
            <span class="input-group-addon" id="basic-addon2">мм</span>
            <datalist id="diameter_list">
                <option v-for="item in diameter_bit_list" :value="item"></option>                
            </datalist>
        </div>
        <br>
        Коэффициент кавернозности:
        <div class="input-group">            
            <input v-on:focus="selectAll" :value="coff_cav" list="cavernosity_list" type="text" id="coefficient_cavernosity" class="form-control">
            <span class="input-group-addon" id="basic-addon2">безразм.</span>
            <datalist id="cavernosity_list">
                <optionv-for="item in coefficient_cavernosity_list" :value="item"></option>                
            </datalist>
        </div>
        <br>
        Диаметр скважины:
        <div class="input-group">            
            <input v-on:focus="selectAll" :value="diameter_well" type="text" id="diameter_well" class="form-control">
            <span class="input-group-addon" id="basic-addon2">мм</span>            
        </div>
        <br>
        <!-- <div class="input-group">
            <input v-on:input="convert($event.target.value,$event.target.id)" v-on:focus="selectAll" type="text" class="form-control  mass" placeholder="тонна" aria-describedby="basic-addon2" id="tn" :value="obj.tn">
            <span class="input-group-addon" id="basic-addon2">тн</span>
        </div>
        <br>
        <div class="input-group">
            <input v-on:input="convert($event.target.value,$event.target.id)" v-on:focus="selectAll" type="text" class="form-control  mass" placeholder="ньютон" aria-describedby="basic-addon2" id="nut" :value="obj.nut">
            <span class="input-group-addon" id="basic-addon2">Н</span>
        </div>
        <br>
        <div class="input-group">
            <input v-on:input="convert($event.target.value,$event.target.id)" v-on:focus="selectAll" type="text" class="form-control  mass" placeholder="килоньютон" aria-describedby="basic-addon2" id="knut" :value="obj.knut">
            <span class="input-group-addon" id="basic-addon2">кН</span>
        </div>
        <br> -->
        <div class="text-right"><a href="">Формула</a></div>

    </div>
</div>

<!-- Окончание html модуля -->
<script>
    
    var module = new Vue({
        el: ".module",
        data: {
            diameter_bit_list: [46.0,59.0,76.0,93.0,97.0,98.4,112.0,118.0,120.6,132.0,139.7,146.1,151.0,163.0,165.1,171.4,187.3,190.5,200.0,212.7,215.9,222.3,242.9,244.5,250.8,269.9,295.3,304.8,311.1,320.0,349.2,374.6,393.7,444.5,490.0,508.0],
            // diameter_bit_list: ["46.0","59.0","76.0","93.0","97.0","98.4","112.0","118.0","120.6","132.0","139.7","146.1","151.0","163.0","165.1","171.4","187.3","190.5","200.0","212.7","215.9","222.3","242.9","244.5","250.8","269.9","295.3","304.8","311.1","320.0","349.2","374.6","393.7","444.5","490.0","508.0"],
            coefficient_cavernosity_list: [],
            diameter_well: 215.9,
            diameter_bit: 215.9,
            coff_cav: 1.0
        },
        methods: {
            
            
            // convert: function (val, id) {
            //     count = this.id.length;
            //     id_of = this.id.indexOf(id);
            //     c = Big(this.const[id_of]);
            //     val = Big(val);
            //     result = [];
            //     for (i = 0; i < count; i++) {
            //         const_for = Big(this.const[i]);
            //         result[i] = Number(val.div(c).times(const_for));
            //     }

            //     for (i = 0; i < count; i++) {                    
            //         this.obj[this.id[i]] = result[i];                    
            //    }
           // },
            selectAll: function(event){
                setTimeout(function () {
      	            event.target.select()
                                        }, 0);
            }
        }
    })
</script>